{% extends "base.html" %}
{% load static %}

{% block index %}

<main id="main">
  <title>
    Markdown page example
  </title>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <a href="/page_md" id="btn_page_md" class="btn-get-started scrollto" style="width: 20em; text-align: center; margin-top: 1.5em">Markdown page</a>
      </div>
    </div>

  </section><!-- End Hero -->
</main>

{% endblock %}
